---
layout: layouts/base
css: css/pages/index.css
---

<main>
  <div class="hero">
    <img src="<%= rootPath %>images/hypercore-protocol.png" id="logo">
    <h1>Hypercore Protocol</h1>
    <p>Peer-to-peer data sharing</p>
    <div class="btns">
      <a class="btn black" title="Install" href="<%= rootPath %>install/">Install</a>
      <a class="btn white" title="Guides" href="<%= rootPath %>guides/">Guides</a>
    </div>
  </div>

  <section class="intro">
    <% include /seeding-anim %>
    <h2>A world of distributed data structures</h2>
    <p>
      Hypercore Protocol is a <span class="nobreak">peer-to-peer</span> data network built on the Hypercore logs.
      Hypercores are signed, <span class="nobreak">append-only</span> logs.
      They're like lightweight blockchains without the consensus algorithm.
      As with BitTorrent, as more people "seed" a dataset it will increase the available bandwidth.
    </p>
  </section>

  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Hyperdrives</h3>
        <p>
          Peer-to-peer file archives with a POSIX-like API.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `const drive = new Hyperdrive(hyp.corestore())

await drive.promises.writeFile('/hello.txt', 'world')
await drive.promises.readdir('/') // => ['hello.txt']

hyp.replicate(drive.metadata) // seed on the network`) %>
    </div>
  </section>

  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Hyperbees</h3>
        <p>
          Peer-to-peer key/value database built on distributed B-Trees.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `const db = new Hyperbee(hyp.corestore().get())

await db.put('key', 'value')
await db.get('key') // { key: 'key', value: 'value' }

db.createReadStream({ gt: 'a', lt: 'd' }) // anything >a and <d`) %>
  </section>

  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Hypercores</h3>
        <p>
          Append-only logs for building a variety of data structures.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `const feed = hyp.corestore().get()

await feed.append('hello')
await feed.append('world')

console.log(await feed.get(0)) // => 'hello'
console.log(await feed.get(1)) // => 'world'`) %>
    </div>
  </section>

  <section>
    <div class="feature-grid">
      <div>
        <img src="<%= rootPath %>images/icons8/connect-50.png">
        <h3>Automatic connectivity</h3>
        <p>
          The Hyperswarm DHT arranges connections between devices using cryptographic-key addresses. Hole-punching included!
        </p>
      </div>
      <div>
        <img src="<%= rootPath %>images/icons8/secure-50.png">
        <h3>End-to-end privacy</h3>
        <p>
          Encrypted connections between devices ensure that users only share with the people they intend to reach.
        </p>
      </div>
      <div>
        <img src="<%= rootPath %>images/icons8/module-50.png">
        <h3>Highly modular</h3>
        <p>
          Build on top of the batteries-included "Hyperspace" daemon or build with the individual modules as you need.
        </p>
      </div>
    </div>
  </section>

  <section class="cta">
    <h2><img src="<%= rootPath %>images/icons8/command-line-50.png"> <a href="<%= rootPath %>guides/" title="Guides">Start quickly with Hyp</a></h2>
    <p>
      The Hyp CLI makes it easy to manage Hypercore's daemon and work with datasets.
      <a href="https://www.youtube.com/watch?v=SVk1uIQxOO8" title="Demo Video" target="_blank">Demo Video</a>.
    </p>
    <div class="shell-video">
      <video src="<%= rootPath %>videos/demo-hyp-info.mp4" autoplay loop></video>
    </div>
    <div class="btns">
      <a class="btn black" title="Install" href="<%= rootPath %>install/">Install</a>
      <a class="btn white" title="Guides" href="<%= rootPath %>guides/">Guides</a>
    </div>
  </section>

  <section class="license">
    <img src="<%= rootPath %>images/icons8/software-license-50.png">
    <div>
      <h3>MIT Licensed</h3>
      <p>
        Hypercore Protocol is Free and Open-Source Software.
      </p>
    </div>
  </section>
</main>
