---
layout: layouts/base
css: css/pages/index.css
---

<main>
  <div class="hero">
    <img src="<%= rootPath %>images/hypercore-protocol.png" id="logo">
    <h1>Hypercore Protocol</h1>
    <p>The peer-to-peer network</p>
    <div class="btns">
      <a class="btn black" title="Install" href="<%= rootPath %>install/">Install</a>
      <a class="btn white" title="Guides" href="<%= rootPath %>guides/">Guides</a>
    </div>
  </div>

  <section>
    <div class="feature-grid">
      <div>
        <img src="<%= rootPath %>images/icons8/connect-50.png">
        <h3>Automatic connectivity</h3>
        <p>
          The Hyperswarm DHT arranges connections between devices using cryptographic-key addresses. Hole-punching included!
        </p>
      </div>
      <div>
        <img src="<%= rootPath %>images/icons8/secure-50.png">
        <h3>End-to-end privacy</h3>
        <p>
          Encrypted connections between devices ensure that users only share with the people they intend to reach.
        </p>
      </div>
      <div>
        <img src="<%= rootPath %>images/icons8/module-50.png">
        <h3>Highly modular</h3>
        <p>
          Build on top of the batteries-included "Hyperspace" daemon or build with the individual modules as you need.
        </p>
      </div>
    </div>
  </section>

  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Connect to peers</h3>
        <p>
          Using "topic" keys, devices discover each other and arrange a connection through a DHT hole-punching protocol.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `// look for peers listed under this topic
const topic = blake2s('my-hyperswarm-topic')
swarm.join(topic, {lookup: true, announce: true})

swarm.on('connection', (socket, details) => {
  console.log('new connection!', details)

  // you can now use the socket as a stream, eg:
  process.stdin.pipe(socket).pipe(process.stdout)
})`) %>
    </div>
  </section>


  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Build on a secure log</h3>
        <p>
          Hypercores are signed, append-only logs.
          They're like light-weight blockchains without the consensus algorithm.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `const feed = hypercore('./my-first-hypercore', {
  valueEncoding: 'utf-8'
})

feed.append('hello')
feed.append('world', err => {
  if (err) throw err
  feed.get(0, console.log) // prints hello
  feed.get(1, console.log) // prints world
})`) %>
    </div>
  </section>

  <section class="code-example">
    <div class="columns">
      <div class="description">
        <h3>Replicate datasets</h3>
        <p>
          Like BitTorrent, as more people "seed" a dataset it will increase the available bandwidth.
        </p>
      </div>
      <%- syntaxHighlight('javascript', `const drive = hyperdrive('./my-first-hyperdrive')

await drive.promises.writeFile('/hello.txt', 'world')
await drive.promises.readdir('/') // => ['hello.txt']
await drive.promises.readFile('/hello.txt') // => 'world'

// replicate over any stream-based transport layer
swarm.on('connection', (socket, details) => {
  socket.pipe(drive.replicate()).pipe(socket)
})`) %>
  </section>

  <section class="cta">
    <h2><img src="<%= rootPath %>images/icons8/command-line-50.png"> <a href="<%= rootPath %>guides/" title="Guides">Start quickly with Hyp</a></h2>
    <p>
      The Hyp CLI makes it easy to manage Hypercore's daemon and work with datasets.
      <a href="https://www.youtube.com/watch?v=SVk1uIQxOO8" title="Demo Video" target="_blank">Demo Video</a>.
    </p>
    <div class="shell-video">
      <video src="<%= rootPath %>videos/demo-hyp-info.mp4" autoplay loop></video>
    </div>
    <div class="btns">
      <a class="btn black" title="Install" href="<%= rootPath %>install/">Install</a>
      <a class="btn white" title="Guides" href="<%= rootPath %>guides/">Guides</a>
    </div>
  </section>

  <section class="license">
    <img src="<%= rootPath %>images/icons8/software-license-50.png">
    <div>
      <h3>MIT Licensed</h3>
      <p>
        Hypercore Protocol is Free and Open-Source Software.
      </p>
    </div>
  </section>
</main>
