---
layout: layouts/base
css: css/pages/install.css
title: "Install | Hypercore Protocol"
---

<main>
  <section class="highlighted">
    <h1><img src="<%= rootPath %>images/icons8/command-line-50.png"> Install the Hyp CLI</h1>
    <div class="install-instructions">
      <div class="description">
        <p>
          Hyp is a command-line tool for Hypercore Protocol.
          It includes tools for transferring data, seeding files, and running the daemon.
        </p>
        <p>
          After installing, <a href="<%= rootPath %>guides/" title="Guides">read the guides</a> to get started.
        </p>
      </div>
      <div class="steps">
        <div class="bash">npm install -g @hyperspace/cli</div>
        <p>Requires nodejs 14+</p>
      </div>
    </div>
  </section>

  <section>
    <h3>Getting Started Guides</h3>
    <div class="linkboxes">
      <a href="<%= rootPath %>guides/getting-started/" title="Getting Started Guide">
        <img src="<%= rootPath %>images/icons8/course-50.png">
        <div>Getting Started Guide</div>
      </a>
      <a href="<%= rootPath %>guides/getting-started/hyperspace/" title="Using Hyperspace">
        <img src="<%= rootPath %>images/icons8/program-50.png">
        <div>Using Hyperspace</div>
      </a>
      <a href="<%= rootPath %>guides/getting-started/standalone-modules/" title="Using Standalone Modules">
        <img src="<%= rootPath %>images/icons8/module-50.png">
        <div>Using Standalone Modules</div>
      </a>
    </div>
  </section>
</main>

