<header>
  <div class="nav-left">
    <a href="<%= rootPath %>" title="Home"><img class="logo" src="<%= rootPath %>images/hypercore-protocol.png"></a>
    <a href="<%= rootPath %>guides" title="Guides">Guides</a>
    <a href="<%= rootPath %>protocol" title="Protocol">Protocol</a>
    <a href="<%= rootPath %>install" title="Install">Install</a>
    <a class="awesome" href="<%= rootPath %>awesome-hacks" title="Awesome Hacks">Awesome Hacks</a>
  </div>
  <div class="nav-right">
    <a href="https://chat.hypercore-protocol.org" title="Hypercore Discord Server"><img class="icon" src="<%= rootPath %>images/discord-icon.webp"></a>
    <a href="https://twitter.com/hypercoreproto" title="Hypercore Twitter"><img class="icon" src="<%= rootPath %>images/twitter-icon.png"></a>
    <a href="https://github.com/hypercore-protocol" title="Hypercore GitHub Org"><img class="icon" src="<%= rootPath %>images/github-icon.png"></a>
  </div>
</header>