---
layout: layouts/guides
---

<h1>Hypercore for Developers</h1>

<% include /stack-diagram %>

<p>
  The Hypercore Protocol is designed with flexibility and modularity in mind.
  Our modules can be viewed as "Lego blocks" for building P2P applications: you're free to pick and choose the tools you need. 
</p>

<p>
  Modularity affords you the ability to tweak and customize, gradually honing in on the right set of components and configurations for your use-case.
</p>

<p>
  But exploring the space of options can be daunting, especially if you're new to the P2P world. If you're looking for an opinionated combination of modules that "just work", our Hyperspace server is the way to go.
</p>


<h2>Walkthroughs</h2>

<p>
    Our first two walkthrough tracks will explore the two columns of the stack diagram above.
</p>

<p>
    Either track will prepare you for working with Hyperdrives and Hyperbees
</p>

<h3>Low-Level Track</h3>

<p>
    To learn how to use the low-level modules on their own:
</p>

<div class="linkboxes">
  <a href="<%= rootPath %>guides/dev/walkthroughs/hypercore" title="Creating and Sharing Hypercores">
    <img src="<%= rootPath %>images/icons8/command-line-50.png">
    <div>Creating and Sharing Hypercores</div>
  </a>
  <a href="<%= rootPath %>guides/dev/walkthroughs/hyperswarm" title="P2P Networking with Hyperswarm">
    <img src="<%= rootPath %>images/icons8/code-50.png">
    <div>P2P Networking with Hyperswarm</div>
  </a>
  <a href="<%= rootPath %>guides/dev/walkthroughs/corestore" title="Managing Hypercores with Corestore">
    <img src="<%= rootPath %>images/icons8/protocol-50.png">
    <div>Managing Hypercores with Corestore</div>
  </a>
</div>

<h3>Hyperspace Track</h3>

<p>
    To get set up with a batteries-included daemon:
</p>

<div class="linkboxes">
  <a href="<%= rootPath %>guides/dev/walkthroughs/hyperspace" title="Getting Started with Hyperspace">
    <img src="<%= rootPath %>images/icons8/command-line-50.png">
    <div>Getting Started with Hyperspace</div>
  </a>
</div>

<h3>Data Structures Track</h3>

<p>
    To start working with higher-level data structures:
</p>

<div class="linkboxes">
  <a href="<%= rootPath %>guides/dev/walkthroughs/hyperdrive" title="Sharing Files with Hyperdrive">
    <img src="<%= rootPath %>images/icons8/command-line-50.png">
    <div>Sharing Files with Hyperdrive</div>
  </a>
  <a href="<%= rootPath %>guides/dev/walkthroughs/hyperbee" title="P2P Indexing with Hyperbee">
    <img src="<%= rootPath %>images/icons8/code-50.png">
    <div>P2P Indexing with Hyperbee</div>
  </a>
</div>
