---
layout: layouts/guides
title: "Using the Hyp CLI | Hypercore Protocol"
description: "The Hyp command-line provides a convenient set of tools for accessing the Hypercore network."
---

<h1>Using the Hyp CLI</h1>

<p>
  The Hyp command-line provides a convenient set of tools for accessing the Hypercore network.
  <a href="https://www.youtube.com/watch?v=SVk1uIQxOO8" title="Demo Video" target="_blank">Demo Video</a>.
</p>

<p>
  <a class="btn black" href="<%= rootPath %>install/" title="Install Here">Install Here</a>
  <a class="btn white" href="https://github.com/hypercore-protocol/cli" title="Github Repo">Github Repo</a>
</p>

<h2>Guides</h2>

<div class="linkboxes light">
  <a href="<%= rootPath %>guides/hyp/sharing-folders/" title="Sharing Folders">
    <img src="<%= rootPath %>images/icons8/shared-folder-50.png">
    <div>Sharing Folders</div>
  </a>
  <a href="<%= rootPath %>guides/hyp/seeding-data/" title="Seeding Data">
    <img src="<%= rootPath %>images/icons8/connect-50.png">
    <div>Seeding Data</div>
  </a>
  <a href="<%= rootPath %>guides/hyp/beaming-files/" title="Beaming Files">
    <img src="<%= rootPath %>images/icons8/laser-beam-50.png">
    <div>Beaming Files</div>
  </a>
</div>

<% include /guides/linklists-cli-cmds %>