---
layout: layouts/guides-overview
title: "Guides | Hypercore Protocol"
---

<h1>Guides</h1>

<% const link = (url, title) => `<a href="${url}" title="${title}">${title}</a>` %>

<div class="linkboxes light">
  <a href="<%= rootPath %>guides/getting-started/" title="Getting Started Guide">
    <img src="<%= rootPath %>images/icons8/course-50.png">
    <div>Getting Started Guide</div>
  </a>
  <a href="<%= rootPath %>guides/getting-started/hyperspace/" title="Using Hyperspace">
    <img src="<%= rootPath %>images/icons8/program-50.png">
    <div>Using Hyperspace</div>
  </a>
  <a href="<%= rootPath %>guides/getting-started/standalone-modules/" title="Using Standalone Modules">
    <img src="<%= rootPath %>images/icons8/module-50.png">
    <div>Using Standalone Modules</div>
  </a>
</div>

<h2>Introduction</h2>
<div class="linklists">
  <div class="linklist">
    <h4>Getting Started</h4>
    <%- link(rootPath + 'guides/getting-started/', 'Getting Started Guide') %>
    <%- link(rootPath + 'guides/getting-started/hyperspace/', 'Using Hyperspace') %>
    <%- link(rootPath + 'guides/getting-started/standalone-modules/', 'Using Standalone Modules') %>
  </div>
  <div class="linklist">
    <h4>Hyp CLI</h4>
    <%- link(rootPath + 'guides/hyp/', 'Using the Hyp CLI') %>
    <%- link(rootPath + 'guides/hyp/sharing-folders/', 'Sharing Folders') %>
    <%- link(rootPath + 'guides/hyp/seeding-data/', 'Seeding Data') %>
    <%- link(rootPath + 'guides/hyp/beaming-files/', 'Beaming Files') %>
  </div>
</div>

<h2>Developer Docs</h2>
<div class="linklists">
  <div class="linklist">
    <h4>Hyperspace API</h4>
    <%- link(rootPath + 'guides/hyperspace/corestore/', 'Corestore') %>
    <%- link(rootPath + 'guides/hyperspace/networker/', 'Networker') %>
    <%- link(rootPath + 'guides/hyperspace/hypercore/', 'Hypercore') %>
  </div>
  <div class="linklist">
    <h4>Modules</h4>
    <%- link(rootPath + 'guides/modules/corestore/', 'Corestore') %>
    <%- link(rootPath + 'guides/modules/hypercore/', 'Hypercore') %>
    <%- link(rootPath + 'guides/modules/hyperswarm/', 'Hyperswarm') %>
    <%- link(rootPath + 'guides/modules/hyperdrive/', 'Hyperdrive') %>
    <%- link(rootPath + 'guides/modules/hyperbee/', 'Hyperbee') %>
  </div>
  <div class="linklist">
    <h4>Walkthroughs</h4>
    <%- link(rootPath + 'guides/walkthroughs/creating-and-sharing-hypercores/', 'Creating and Sharing Hypercores') %>
    <%- link(rootPath + 'guides/walkthroughs/sharing-files-with-hyperdrive/', 'Sharing Files with Hyperdrive') %>
    <%- link(rootPath + 'guides/walkthroughs/p2p-indexing-with-hyperbee/', 'P2P Indexing with Hyperbee') %>
    <%- link(rootPath + 'guides/walkthroughs/p2p-networking-with-hyperswarm/', 'P2P Networking with Hyperswarm') %>
  </div>
</div>

<h2>Hyp CLI</h2>
<% include /guides/linklists-cli-cmds %>

<h2>Further Reading</h2>
<div class="linklists">
  <div class="linklist">
    <h4>Learning More</h4>
    <%- link(rootPath + 'guides/faq/', 'FAQ') %>
    <%- link(rootPath + 'protocol/', 'Protocol Overview') %>
    <%- link(rootPath + 'guides/workshops/', 'Workshops') %>
  </div>
  <div class="linklist">
    <h4>Repos</h4>
    <%- link('https://github.com/hypercore-protocol/cli', 'Hyp CLI') %>
    <%- link('https://github.com/hypercore-protocol/hyperspace', 'Hyperspace Daemon') %>
    <%- link('https://github.com/hypercore-protocol/hypercore', 'Hypercore') %>
    <%- link('https://github.com/hypercore-protocol/hyperdrive', 'Hyperdrive') %>
    <%- link('https://github.com/mafintosh/hyperbee', 'Hyperbee') %>
    <%- link('https://github.com/hyperswarm', 'Hyperswarm') %>
  </div>
  <div class="linklist">
    <h4>General</h4>
    <%- link('https://github.com/hypercore-protocol', 'Github Organization') %>
    <%- link('https://chat.hypercore-protocol.org', 'Discord Server (chat)') %>
  </div>
</div>

<h2>About</h2>
<p>
  Hypercore currently serves as the foundation for a diverse range of P2P applications, including chat apps (<a href="https://cabal.chat/" title="Cabal Chat">Cabal</a>), mapping software (<a href="https://www.digital-democracy.org/mapeo/" title="Mapeo">Mapeo</a>), scientific research sharing (<a href="https://www.libscie.org/" title="Lib Scie">Lib Scie</a>), and even a couple web browsers (<a href="https://beakerbrowser.com" title="Beaker Browser">Beaker</a>, <a href="https://agregore.mauve.moe/" title="Agregore Browser">Agregore</a>). And the whole thing's MIT-licensed, so you can use it as you like!
</p>
<p>
  To get in touch with us, you can <a href="https://discord.com/invite/ga5hxGf">join our Discord</a>, or reach out to any of the core team members, <a href="https://twitter.com/mafintosh">@mafintosh</a>, <a href="https://twitter.com/pfrazee">@pfrazee</a>, and <a href="https://twitter.com/andrewosh">@andrewosh</a>.
</p>
<p>
  We also <a href="https://www.patreon.com/paul_maf_and_andrew" title="Patreon">have a Patreon</a> if you'd like to support our work!
</p>

<style>
  h2 {
    border-bottom: 1px solid #797979;
    padding-bottom: 0.5rem;
    margin-bottom: 0;
  }
</style>