---
layout: layouts/guides
---

<h1>The Hypercore Protocol</h1>

<p>
  The Hypercore Protocol is a peer-to-peer network for:
</p>

<ul>
  <li>Connecting devices,</li>
  <li>Streaming data,</li>
  <li>Sharing files and databases, and</li>
  <li>Building applications.</li>
</ul>

<p>
  Hypercore is inspired by BitTorrent.
  It creates <a href="<%= rootPath %>guides/hyp/sharing-hyperdrives/" title="Hyperdrives">networked datasets</a> which users can seed in a distributed mesh.
  Hypercore includes a variety of tools for <a href="<%= rootPath %>guides/hyp/beaming-files/" title="Beaming Data">connecting devices</a> and is built on a <a href="<%= rootPath %>guides/dev/" title="Developers">very modular API</a> for building custom programs.
</p>

<p>
  For the quickest way to start exchanging data through the Hypercore Protocol, head on over to the <a href="<%= rootPath %>guides/hyp/" title="Using the Hyp CLI">Hyp CLI guide</a>.
  For developers interested in building with the modules in our stack, take a look at the <a href="<%= rootPath %>guides/dev/" title="Developer Docs">developer docs</a> for a deep dive.
</p>

<div class="linkboxes">
  <a href="<%= rootPath %>guides/hyp/" title="Using the Hyp CLI">
    <img src="<%= rootPath %>images/icons8/command-line-50.png">
    <div>Using the Hyp CLI</div>
  </a>
  <a href="<%= rootPath %>guides/dev/" title="Developer Docs">
    <img src="<%= rootPath %>images/icons8/code-50.png">
    <div>Developer Docs</div>
  </a>
  <a href="<%= rootPath %>protocol/" title="Protocol Overview">
    <img src="<%= rootPath %>images/icons8/protocol-50.png">
    <div>Protocol Overview</div>
  </a>
</div>

<h2>Useful Links</h2>

<% const link = (url, title) => `<a href="${url}" title="${title}">${title}</a>` %>

<div class="linklists">
  <div class="linklist">
    <h5>Docs</h5>
    <%- link(rootPath + 'guides/faq/', 'FAQ') %>
    <%- link(rootPath + 'guides/hyp/', 'Using the Hyp CLI') %>
    <%- link(rootPath + 'guides/dev/apis/', 'API Docs') %>
    <%- link(rootPath + 'guides/dev/workshops/', 'Workshops') %>
    <%- link(rootPath + 'protocol/', 'Protocol Overview') %>
  </div>
  <div class="linklist">
    <h5>Repos</h5>
    <%- link('https://github.com/hypercore-protocol/cli', 'Hyp CLI') %>
    <%- link('https://github.com/hypercore-protocol/hyperspace', 'Hyperspace Daemon') %>
    <%- link('https://github.com/hypercore-protocol/hypercore', 'Hypercore') %>
    <%- link('https://github.com/hypercore-protocol/hyperdrive', 'Hyperdrive') %>
    <%- link('https://github.com/mafintosh/hyperbee', 'Hyperbee') %>
    <%- link('https://github.com/hyperswarm', 'Hyperswarm') %>
  </div>
  <div class="linklist">
    <h5>General</h5>
    <%- link('https://github.com/hypercore-protocol', 'Github Organization') %>
    <%- link('https://chat.hypercore-protocol.org', 'Discord Server (chat)') %>
  </div>
</div>

<p>
  Hypercore currently serves as the foundation for a diverse range of P2P applications, including chat apps (<a href="https://cabal.chat/" title="Cabal Chat">Cabal</a>), mapping software (<a href="https://www.digital-democracy.org/mapeo/" title="Mapeo">Mapeo</a>), scientific research sharing (<a href="https://www.libscie.org/" title="Lib Scie">Lib Scie</a>), and even a couple web browsers (<a href="https://beakerbrowser.com" title="Beaker Browser">Beaker</a>, <a href="https://agregore.mauve.moe/" title="Agregore Browser">Agregore</a>). And the whole thing's MIT-licensed, so you can use it as you like!
</p>
<p>
  To get in touch with us, you can <a href="https://discord.com/invite/ga5hxGf">join our Discord</a>, or reach out to any of the core team members, <a href="https://twitter.com/mafintosh">@mafintosh</a>, <a href="https://twitter.com/pfrazee">@pfrazee</a>, and <a href="https://twitter.com/andrewosh">@andrewosh</a>.
</p>
<p>
  We also <a href="https://www.patreon.com/paul_maf_and_andrew" title="Patreon">have a Patreon</a> if you'd like to support our work!
</p>
