---
layout: layouts/guides
title: Modules | Hypercore Protocol
description: Overview of the Hypercore Protocol modules.
---

<h1>Our Modules</h1>

<p>
  If you're trying to figure out how to start and what to use, see the <a href="<%= rootPath %>guides/getting-started/">Getting Started Guide</a>.
  To get a better sense of how the Hypercore Protocol modules fit together, here's a quick overview/categorization of the big ones.
</p>

<% include /stack-diagram %>

<h2>Daemon and Core Modules</h2>

<p>
  The <a href="<%= rootPath %>guides/hyperspace/"" title="Hyperspace Daemon">Hyperspace Daemon</a> wraps the low-level modules to provide a batteries-included toolset for Hypercore.
  Using Hyperspace is the easiest way to get started.
</p>

<p>
  The modules wrapped by the daemon are:
</p>

<ul>
  <li><a href="<%= rootPath %>guides/modules/hypercore/" title="Hypercore">Hypercore</a> - A secure append-only log data structure.</li>
  <li><a href="<%= rootPath %>guides/modules/corestore/" title="Corestore">Corestore</a> - A Hypercore storage manager.</li>
  <li><a href="<%= rootPath %>guides/modules/hyperswarm/" title="Hyperswarm">Hyperswarm</a> - A DHT for arranging connections.</li>
</ul>

<p>
  You can use these modules individually (<a href="<%= rootPath %>guides/getting-started/standalone-modules/" title="Using Standalone Modules">guide</a>) or let hyperspace manage them for you (<a href="<%= rootPath %>guides/getting-started/hyperspace/" title="Using Hyperspace">guide</a>).
</p>

<h2>Higher-Level Data Structures</h2>

<p>
  Hypercore, on its own, is a very simple data structure &mdash; it's just a long list of blocks.
  As we'll see in these guides, a list of blocks is perfectly sufficient for many applications, such as video streaming.
  For other applications, you'll need more powerful data structures, like search trees.
</p>

<p>
  To accomplish this, we use a pattern called <b>embedded indexing</b>.
  With embedded indexing, "pointers" are stored alongside data in Hypercore blocks, making it possible to quickly locate blocks of interest without downloading the complete log. 
</p>

<p>
  The higher-level data structure modules are:
</p>

<ul>
  <li><a href="<%= rootPath %>guides/modules/hyperdrive/" title="Hyperdrive">Hyperdrive</a> - A files archive.</li>
  <li><a href="<%= rootPath %>guides/modules/hyperbee/" title="Hyperbee">Hyperbee</a> - A key-value database.</li>
</ul>