---
title: Hypercore Protocol
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- SEO -->
    <meta name="Description" content="A fast, scalable, and secure peer-to-peer protocol for everyone.">
    <meta name="keywords" content="decentralization,hypercore,peer-to-peer,p2p,hyperdrive">

    <!-- Social -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@HypercoreProto">
    <meta name="twitter:creator" content="@HypercoreProto">
    <meta name="og:title" content="Hypercore Protocol">
    <meta name="og:description" content="A fast, scalable, and secure peer-to-peer protocol for everyone.">
    <meta name="twitter:image" content="https://hypercore-protocol.org/images/hypercore-protocol.png">

    <% if (typeof css !== 'undefined') { %>
      <% if (Array.isArray(css)) { %>
        <% css.forEach(cssPath => { %>
          <link rel="stylesheet" type="text/css" href="<%= rootPath %><%= cssPath %>">
        <% }) %>
      <% } else { %>
        <link rel="stylesheet" type="text/css" href="<%= rootPath %><%= css %>">
      <% } %>
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="<%= rootPath %>css/layouts/base.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="<%= rootPath %>fonts/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <header>
      <div class="nav-left">
        <a href="<%= rootPath %>" title="Home"><img class="logo" src="<%= rootPath %>images/hypercore-protocol.png"></a>
        <a href="<%= rootPath %>guides" title="Guides">Guides</a>
        <a href="<%= rootPath %>protocol" title="Protocol">Protocol</a>
        <a href="<%= rootPath %>install" title="Install">Install</a>
        <a class="awesome" href="<%= rootPath %>awesome-hacks" title="Awesome Hacks">Awesome Hacks</a>
      </div>
      <div class="nav-right">
        <a href="https://chat.hypercore-protocol.org" title="Hypercore Discord Server"><img class="icon" src="<%= rootPath %>images/discord-icon.webp"></a>
        <a href="https://twitter.com/hypercoreproto" title="Hypercore Twitter"><img class="icon" src="<%= rootPath %>images/twitter-icon.png"></a>
        <a href="https://github.com/hypercore-protocol" title="Hypercore GitHub Org"><img class="icon" src="<%= rootPath %>images/github-icon.png"></a>
      </div>
    </header>

    <%- content %>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""></noscript>
  </body>
</html>
