---
title: Hypercore Protocol
description: A fast, scalable, and secure peer-to-peer protocol.
wideLayout: false
---

<%
function navItem (url, label, addedCls = '') {
  let realUrl = `/${url}`
  let cls = page.url === realUrl || page.url.startsWith(realUrl) ? 'current' : ''
  if (addedCls) cls += ` ${addedCls}`
  return `<a class="${cls}" href="${rootPath}${url}" title="${label}">${label}</a>`
}
function footerLink (url, label) {
  return `<div><a href="${url}" title="${label}">${label}</a></div>`
}
%>

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>

    <!-- SEO -->
    <meta name="Description" content="<%= description %>">
    <meta name="keywords" content="decentralization,hypercore,peer-to-peer,p2p,hyperdrive">

    <!-- Social -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@HypercoreProto">
    <meta name="twitter:creator" content="@HypercoreProto">
    <meta name="og:title" content="<%= title %>">
    <meta name="og:description" content="<%= description %>">
    <meta name="twitter:image" content="https://hypercore-protocol.org/images/hypercore-protocol.png">

    <% if (typeof css !== 'undefined') { %>
      <% if (Array.isArray(css)) { %>
        <% css.forEach(cssPath => { %>
          <link rel="stylesheet" type="text/css" href="<%= rootPath %><%= cssPath %>">
        <% }) %>
      <% } else { %>
        <link rel="stylesheet" type="text/css" href="<%= rootPath %><%= css %>">
      <% } %>
    <% } else { %>
      <link rel="stylesheet" type="text/css" href="<%= rootPath %>css/layouts/base.css">
    <% } %>
    <link rel="stylesheet" type="text/css" href="<%= rootPath %>fonts/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body class="<%= wideLayout ? 'wide' : 'narrow' %>">
    <header class="desktop">
      <div class="nav-left">
        <a href="<%= rootPath %>" title="Home"><img class="logo" src="<%= rootPath %>images/hypercore-protocol.png"></a>
        <%- navItem('guides', 'Guides') %>
        <%- navItem('protocol', 'Protocol') %>
        <%- navItem('install', 'Install') %>
        <%- navItem('awesome-hacks', 'Awesome Hacks') %>
      </div>
      <div class="nav-right">
        <a href="https://chat.hypercore-protocol.org" title="Hypercore Discord Server"><img class="icon" src="<%= rootPath %>images/discord-icon.png"></a>
        <a href="https://twitter.com/hypercoreproto" title="Hypercore Twitter"><img class="icon" src="<%= rootPath %>images/twitter-icon.png"></a>
        <a href="https://github.com/hypercore-protocol" title="Hypercore GitHub Org"><img class="icon" src="<%= rootPath %>images/github-icon.png"></a>
      </div>
    </header>
    <header class="mobile">
      <a href="<%= rootPath %>" title="Home"><img class="logo" src="<%= rootPath %>images/hypercore-protocol.png"></a>
      <a id="mobile-menu-btn" href="#" title="Nav"><img class="menu" src="<%= rootPath %>images/icons8/menu-26.png"></a>
    </header>
    <div id="mobile-menu">
      <%- navItem('', 'Home') %>
      <%- navItem('guides', 'Guides') %>
      <%- navItem('protocol', 'Protocol') %>
      <%- navItem('install', 'Install') %>
      <%- navItem('awesome-hacks', 'Awesome Hacks') %>
    </div>

    <%- content %>

    <footer>
      <div class="patreon-cta">
        <div class="patreon-cta-inner">
          <img src="<%= rootPath %>images/icons8/heart-24-inverted.png">
          Hypercore Protocol is open-source!
          <a href="https://www.patreon.com/paul_maf_and_andrew" title="Patreon" target="_blank">Support us on Patreon</a>.
        </div>
      </div>
      <div class="footer-inner">
        <div class="footer-linklists">
          <div>
            <h5>Site</h5>
            <%- footerLink(rootPath, 'Home') %>
            <%- footerLink(rootPath + 'guides/', 'Guides') %>
            <%- footerLink(rootPath + 'protocol/', 'Protocol') %>
            <%- footerLink(rootPath + 'install/', 'Install') %>
          </div>
          <div>
            <h5>Repos</h5>
            <%- footerLink('https://github.com/hypercore-protocol/hyperspace', 'Hyperspace') %>
            <%- footerLink('https://github.com/hypercore-protocol/cli', 'Hyp CLI') %>
            <%- footerLink('https://github.com/hypercore-protocol/hypercore', 'Hypercore') %>
            <%- footerLink('https://github.com/hypercore-protocol/hyperdrive', 'Hyperdrive') %>
            <%- footerLink('https://github.com/hypercore-protocol/hyperbee', 'Hyperbee') %>
            <%- footerLink('https://github.com/hyperswarm/', 'Hyperswarm') %>
          </div>
          <div>
            <h5>Links</h5>
            <%- footerLink('https://blog.hypercore-protocol.org', 'Blog') %>
            <%- footerLink('https://github.com/hypercore-protocol', 'GitHub') %>
            <%- footerLink('https://twitter.com/hypercoreproto', 'Twitter') %>
            <%- footerLink('https://chat.hypercore-protocol.org', 'Discord Chat') %>
          </div>
        </div>
        <div class="copyrights">
          Icons by <a href="https://icons8.com" title="Icons8">Icons8</a>
        </div>
      </div>
    </footer>
    <script src="<%= rootPath %>js/mobile-nav.js"></script>
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""></noscript>
  </body>
</html>
